<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class="underline bg-blue-800 text-4xl text-white text-center py-4">Hello Node</h1>
    <div class="my-2">
        <button class="btn btn-secondary" id="fetch-teams">Fetch Teams</button>
    </div>
    <hr>
    <h2 class="text-green-600 text-3xl bg-yellow-200 text-end">Howdy there, Jake.</h2>
    <ul class="[&>*:nth-child(3n+2)]:bg-red-400 [&>*:nth-child(2n+2)]:text-end [&>*:nth-child(3n+3)]:bg-blue-400 [&>*:nth-child(3n+1)]:bg-green-400 [&>*:nth-child(3n+3)]:text-center my-8 text-2xl">
    </ul>






    <script src="/javascripts/frontEnd.js"></script>
</body>
</html>